#logo{
    width: 80px;
    height: 60px;
  }

  .myv{
      margin-top: 20px;
  }

  .formulario{
      border: solid 1px black;
      border-radius: 10px;
      padding: 40px;
      background-color: rgb(131, 199, 156);
      margin-bottom: 20px;
  }
  