
/* LANDINGPAGE*/

body {

  font-family: Arial;
  margin: 0em;
}
.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}


.topnav a {
  float: left;
  display: block;
  color: #4ca5bb;
  text-align: center;
  padding: 15px 16px;
  text-decoration:double;
  
}

.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
.navbar-logo img{
  display: block;
  width: 100%;
  height: auto;
}

.cover {

     height: 500px; 
     background-image: url(https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-size: cover;
     background-position: center;
}


.nuestros-servicios{

  background-color: gray;
  padding: 1em;
  overflow: hidden;
}

.nuestros-servicios h3{

text-align: center;

}

/* .iconos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

} */

/* .icono-figura {
  display: block;
} */


.icono{
  font-size: 3rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#logo{
  width: 80px;
  height: 60px;
}



/* FORMULARIO DE LOGIN*/

.bodyregistro{

  background-color: rgb(255, 255, 255)
}

.form-login {

  width: 400px;
  height: 340px;
  background:#5ab8be ;
  margin: auto;
  margin-top: 90px;
  box-shadow: 2px 10px 20px 0px black;
  padding: 20px 30px;   
  border-radius: 4px;
}

.form-login h5{ 
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls{
width: 100%;
border:1px solid ;
margin-bottom: 15px;
padding: 11px 10px;
font-size: 14px;
font-weight: bold;

}

.buttons{
width: 100%;
height: 40px;
background: #017bab;
border: none;
color:black;
margin-bottom: 16px;



}

.form-login p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
  
}

.form-login a {
color: #4ca5bb; 
text-decoration: none;
font-size: 14px;

}

/*FORMULARIO REGISTRO*/

.body-usuario{

  background-color: white);
  
}
.form-register{

  width: 400px;
  background: gray;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white ;
  box-shadow: 7px 13px 37px rgb(7, 7, 7) ;
}

.form-register h4{
font-size: 22px;
margin-bottom: 20px;
color: black;
}

.control{
  width: 100%;
  background:white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid ;
  font-size: 18px;
}

.form-register p{

  height: 40px;
  text-align: center;
  font-size: 18px;
} 

.boton {

  width: 400px;
  background: #3cb1c0;
  border:none;
  padding: 12px;
  color:white;
  margin: 16p 0;
  font-size: 16px;
  
}

/* FORMULARIO DE CONTACTO */

.form-contacto{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  }
  
  .form-contacto h2 {
  
      color: #fff;
      text-align:center;
      margin:0;
      font-size: 30px;
      margin-bottom: 20px;
  }
  
  .form-contacto input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding:7px;
  box-sizing: border-box;
  font-size: 17px;
  }
  
   textarea{
  min-height: 100px;
  max-height: 200px;
  max-width:100% ;
  }
  
  .form-contacto button{
      background: #31384A;
      color: #fff;
      max-width:100% ;
  }
  h2{
    text-align: center;
    font-size: 18px;
  }
  .foot{
    background-color: #000;
    color: white;
   
  }
  .foot a {
    text-decoration: none;
  }
  .title{
    color:rgb(10, 156, 201);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
